<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="ग्रामपंचायत नेव्हिगेशन">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            गट ग्राम पंचायत सोनुर्ली (वाठोडा)
            <span class="brand-sub">जि. पं. : नागपूर, पं. सं. : नागपूर</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">मुख्यपृष्ठ</a>
                </li>
                <li><a class="nav-link" href="about.html">आमच्याबद्दल</a></li>
                <li><a class="nav-link" href="services.html">सेवा</a></li>
                <li><a class="nav-link" href="team.html">आमची टीम</a></li>
                <li><a class="nav-link" href="gallary.html">गॅलरी</a></li>
                <li><a class="nav-link" href="contact.html">संपर्क करा</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header/Navigation -->